* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background:
    radial-gradient(
      circle at top,
      rgba(255,255,255,0.2),
      transparent 40%
    ),
    linear-gradient(
      135deg,
      #ff7e5f 0%,
      #feb47b 100%
  );
}

.gamePanel {
  width: 90%;
  max-width: 1400px;
  margin: 2rem auto;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.CSScookieContainer {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.UpgradesTableContainer {
  grid-row: 3;
  grid-column: 2;
}

.CookieButton {
  grid-row: 2;
  grid-column: 2;
  height: 20rem;
  width: 20rem;
  cursor: pointer;
  filter: drop-shadow(
    0 10px 15px rgba(0, 0, 0, 0.25)
  );
}

.CookieButton:hover {
  transition-duration: 0.2s;
  scale: 120%;
}

.TotalCookieCount {
  grid-row: 1;
  grid-column: 2;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 400%;
  color: #fff8dc;
  text-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.NotEnoughCookiesMessage {
  font-family: monospace;
  font-size: 200%;
  text-align: center;
  color: red;
}

.UpgradesTable {
  display: flex;
  flex-direction: row;
  column-gap: 4rem;
}

.UpgradesButtons {
  width: 180px;
  min-height: 180px;
  padding: 1rem;
  border-radius: 20px;
  background:#6b4226;
  color: white;
  border: 2px solid #d2a679;
  border-radius: 20px;
  transition: all 0.2s ease;
  cursor: pointer;
  line-height: 1.4;
}

.UpgradesButtons h3 {
  font-size: 1.2rem;
  margin-bottom: 0.75rem;
}

.UpgradeCost {
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.UpgradeDescription {
  font-size: 0.9rem;
  line-height: 1.4;
}
.UpgradesButtons:hover {
  transition-duration: 0.2s;
  scale: 105%;
  background: #7b4f30;
}
