* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: linear-gradient(to top right, #00ff00 0%, #00ffff 100%);
}

.CSScookieContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.UpgradesTableContainer {
  grid-row: 4;
  grid-column: 4;
}

.CookieButton {
  grid-row: 2;
  grid-column: 5;
  font-family: monospace;
  border: dotted;
  border-radius: 9%;
}

.TotalCookieCount {
  grid-row: 2;
  grid-column: 4;
  font-family: monospace;
  font-size: xx-large;
}

.NotEnoughCookiesMessage {
  font-family: monospace;
  font-size: large;
  text-align: center;
  color: red;
}

.UpgradesTable {
  display: flex;
  flex-direction: row;
  column-gap: 4rem;
}

.UpgradesButtons {
  height: 250px;
  width: 250px;
  font-size: x-large;
  font-weight: 900;
  color: white;
  background-color: black;
  border: solid;
  border-radius: 11%;
  border-color: #00ffff;
  border-width: thick;
}
